<figure class="well form-group">
  <%= form_for [@company, @job] do |f| %>
    <ul>
      <% @job.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
    <h5><%= f.label :title %></h5>
    <h5><%= f.text_field :title, class: "form-control" %></h5>
    <h5><%= f.label :description %></h5>
    <h5><%= f.text_area :description, class: "form-control" %></h5>
    <h5><%= f.label :level_of_interest %></h5>
    <h5><%= f.number_field :level_of_interest, class: "form-control" %></h5>
    <h5><%= f.label :city %></h5>
    <h5><%= f.text_field :city, class: "form-control" %></h5>
    <h5><%= f.label :category_id %></h5>
    <h5><%= f.collection_select(:category_id, @categories, :id, :title) %></h5>
    <h5><%= link_to 'Or Create a New Category', new_category_path %></h5><br />
    <h5><%= f.submit class: "btn  btn-block" %></h5>
  <% end %>
</figure>
