<figure class="well card">
  <h4><%= link_to job.title, job_path(job) %></h4>
  <p><%= job.company.name %></p>
  <p><%= job.city %></p>
  <p><%= job.category.title %></p>
  <button><%= link_to 'Edit', edit_job_path(job) %></button>
  <button><%= link_to 'Delete', job_path(job), method: :delete, data: {confirm: "Really delete the job?"} %></button>
</figure>
