<div class="well">
  <h1><%= @job.title %></h1>
</div>

<div class="company-contacts">
  <figure class="well about-job">

  <h4><strong>Description:</strong></h4>
  <h5><%= @job.description %></h5>

  <h4><strong>Interest Level: </strong></h4>
  <h5><%= @job.level_of_interest %></h5>

  <h4><strong>City: </strong></h4>
  <h5><%= @job.city %></h5>

  <h4><strong>Category: </strong></h4>
  <h5><%= link_to @job.category.title, category_path(@job.category) %></h5>

  <h4><strong>Company: </strong></h4>
  <h5><%= link_to @job.company.name, company_path(@job.company) %></h5>
  <h4><button><%= link_to 'Edit', edit_job_path(@job.company, @job) %></button></h4>

  <h4><button><%= link_to 'Delete', job_path(@job), method: :delete, data: {confirm: "Really delete the job?"} %></button></h4>
  </figure>
  <figure class="well comments">
    <h4><strong>Comments:</strong></h4>
    <%= render partial: '/jobs/comment', collection: @job.comments.reverse %>
    <%= render partial: 'comments/form' %>
  </figure>
</div>
