<section class="well">
  <h4>Companies</h4>
</section>

<div class="card-container">
  <% @companies.each do |company| %>
    <figure class="well card company_<%= company.id %>">
      <h4><%= link_to company.name, company_path(company) %></h4>
      <button><%= link_to "Edit", edit_company_path(company) %></button>
      <button><%= link_to "Delete", company_path(company), method: "delete" %></button>
      <button><%= link_to "Create New Job at #{company.name}", new_company_job_path(company) %></button>
    </figure>
  <% end %>
</div>


<h4><button><%= link_to "Create a New Company", new_company_path %></button></h4>
