<div class="company-show">
  <div class="company-jobs">
    <header class="well">
      <h4>All Jobs for <strong><%= @company.name %></strong></h4>
    </header>
    <section class="card-container">
      <%= render partial: 'jobs/job', collection: @company.jobs %>
    </section>
  </div>

  <div class="company-contacts">
    <h4>Create a New Contact</h4>
    <section class="card-container">
      <%= render partial: 'contacts/form' %>
    </section>

    <h4>Contacts</h4>
    <section class="card-container">
      <%= render partial: 'contact', collection: @company.contacts %>
    </section>
  </div>
</div>

<h4><button><%= link_to "<< Back to Companies", companies_path %></button></h4>
