<figure class="well form-group">
  <%= form_for @category do |f| %>
    <ul>
      <% @category.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
    <h5><%= f.label :title %></h5>
    <%= f.text_field :title, class: "form-control" %>
    <%= f.submit class: "btn  btn-block" %>
  <% end %>
</figure>
