<!DOCTYPE html>
<html>
<head>
  <title>JobTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: name %>
  <% end %>

  <div class="container-fluid">
    <div class="row content">
      <nav class="col-sm-2 sidenav hidden-xs">
        <h2>JobTracker</h2>
        <ul class="nav nav-pills nav-stacked">
          <li><%= link_to "Dashboard", dashboard_path %></li>
          <li><%= link_to "Jobs", jobs_path %></li>
          <li><%= link_to "Companies", companies_path %></li>
          <li><%= link_to "Categories", categories_path %></li>
        </ul>
      </nav>


      <main class="col-sm-9">


      <%= yield %>

    </main>
    </div>
  </div>
</body>
</html>
