<!DOCTYPE html>
<html>
<head>
  <title>JobTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: name %>
  <% end %>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <section class="container-fluid">
        <header class="navbar-header">
          <%= link_to "Job Tracker", root_path, class: 'navbar-brand' %>
        </header>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home" %></li>
          <li><%= link_to "Categories" %></li>
          <li><%= link_to "Categories" %></li>
        </ul>
      </section>
    </nav>

    <div class='container'>
      <section class='sidebar'>
        <nav class="sidebar-navigation sidebar-sticky">
          <ul class="nav flex-column sidebar-navigation--links">
            <li class="nav-item"><%= link_to "Dashboard" %></li>
            <li class="nav-item"><%= link_to "Companies" %></li>
            <li class="nav-item"><%= link_to "Categories" %></li>
          </ul>
        </nav>
        <main class="main-content">









      <%= yield %>
      </main>
    </div>
  </div>
</body>
</html>
